<div class="row">
  <div class="col-sm-12">
    <form id="static-form" method="post">
      <div class="form-group">
        <label for="text">Text</br></label>
        <textarea rows="10" cols="30" id="phrase" class="form-control" name="text" placeholder="input your text" value="{{phrase}}"></textarea>
      </div>
  
      <div class="form-group" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
      </div>
      
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      
      <div class="is-palindrome">
        <ul>
        </ul>
      </div>

      <div class="not-palindrome">
        <ul>
        </ul>
      </div>

    </form>
  </div>
</div>