body {
    background: #FEFEFE;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 15pt;
    line-height: 1.5
}

main {
    max-width: 75%;
    margin: auto;
}

header {
    border-bottom: 1px solid #AFAFAF;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: 5px;
}

h1 {
    font-size: 1.75rem;
    line-height: 2;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

p {
    font-size: 1rem;
    line-height: 2;
}

footer {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 1rem;
    max-width: 50%;
    margin: auto;
    line-height: 2;
}			

.is-palindrome {
    color: #0000FF;
    font-size: 1rem;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
.not-palindrome {
    color: #FF0000;
    font-size: 1rem;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

#error-container {
    color: #FA8072;
    background: #FEFEFE;
    line-height: 4;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.iput-box {
    line-height: 1.5;
    width: 20rem;  
}
