<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" class="form-control" name="username" placeholder="Username">
    </div>
    <div>
        <label>Password:</label>
        <input type="password" class="form-control" name="password" placeholder="password">
        <br>

    <div class="alert alert-danger" id="error-container">{{message}}</div>
    
    <div>
        <br>
        <input type="submit" class="btn btn-default" value="Log In"/>
    </div>
</form>